@CHARSET "UTF-8";

/* Workspace */

div#theme-workspace{ background: #efefef; border: 1px inset #aaaaaa;}
div#theme-workspace img{ display: block; left: 10px; padding: 0 10px 10px 0; position: absolute; top: 10px;}

div#theme-workspace div.tools{ padding: 5px 10px;}
div#theme-workspace div.canvas{ background: #fff; border: 1px solid #ccc; clear: both; margin: 10px 10px 10px; position: relative;}
div#theme-workspace div.scroll{ background: #666; height: 400px; overflow: scroll; position: relative;}
div#theme-workspace div.grid{ background: url('images/grid.gif') repeat; left: 10px; position: absolute; top: 10px; width: 100%; height: 100%;}
div#theme-workspace div.grid,
div#theme-workspace div.layer{ left: 10px; position: absolute; top: 10px;}

/* Toolbars */

div#theme-workspace div.tools br{ clear: both;}
div#theme-workspace div.tools input,
div#theme-workspace div.tools select{ background: #fff; border: 1px solid #cdcdcd; margin: 0; padding: 0;}
div#theme-workspace div.tools input.form-text{ text-align: right; width: 30px;}
div#theme-workspace div.tools label{ display: inline; font-size: 9px; padding: 0 5px;}
div#theme-workspace div.tools fieldset{ margin: 3px 0 0; padding: 0 5px 0px;}
div#theme-workspace div.tools fieldset.collapsed{ margin: 0;}
div#theme-workspace div.tools legend,
div#theme-workspace div.tools legend a{ font-size: 12px; text-decoration: none;}
div#theme-workspace div.tools div.form-item{ display: inline; margin: 10px 0; padding: 0;}
div#theme-workspace div.tools select.disabled,
div#theme-workspace div.tools input.disabled{ background: #efefef;}

div#theme-workspace #grid-toolbar{ margin: 8px 0 15px;}
div#theme-workspace #grid-toolbar input.form-checkbox{ position: relative; top: 4px;}

div#theme-workspace #marker-fieldset label{ display: block; float: left; padding-top:3px; width: 35px;}
div#theme-workspace #marker-fieldset select{ width: 100px;}
div#theme-workspace #marker-fieldset div.form-item{ display: block; float: left;}
div#theme-workspace #marker-fieldset #edit-repeat{ width: 80px;}
div#theme-workspace #marker-fieldset #edit-custom-position{ width: 60px;}
div#theme-workspace #marker-fieldset #edit-z-index{ width: auto;}
div#theme-workspace #marker-fieldset div.auto-label label{ width: auto;}

div#theme-workspace #buttons{ float: right; margin: 0 0 14px;}

div#theme-workspace #buttons div{ display: inline;}
div#theme-workspace #buttons input{ background-color: #efefef; background-repeat: no-repeat; background-position: 3px 2px; border: 1px solid #efefef; height: 18px; padding: 0 0 2px; width: 80px;}
div#theme-workspace #buttons input.disabled{ color: #bfbfbf;}
div#theme-workspace #buttons input:hover{ border-color: #fbfbfb #e3e3e3 #e3e3e3 #fbfbfb;}
div#theme-workspace #buttons input.disabled:hover{ border-color: #efefef;}

div#theme-workspace #buttons .button-add-marker input{ background-image: url('images/icons/button-add.png');}
div#theme-workspace #buttons .button-remove-marker input{ background-image: url('images/icons/button-remove.png');}
div#theme-workspace #buttons .button-add-marker .disabled{ background-image: url('images/icons/button-add-disabled.png');}
div#theme-workspace #buttons .button-remove-marker .disabled{ background-image: url('images/icons/button-remove-disabled.png');}

/* Widgets */

div#theme-workspace div.layer div.marker{ border: 1px dotted #cdcdcd;}

div#theme-workspace div.layer div.marker,
div#theme-workspace div.layer div.margin{ background: url('images/transparent.png');}

div.slider{ border: 1px solid;}

/* Tooltips */

div#theme-workspace div.layer div.marker ul{ bottom: -60px; display: block; font-size: 10px; height: 40px; line-height: 12px; margin: 0; padding: 0; position: absolute; white-space: nowrap;}
div#theme-workspace div.layer div.marker ul li{ background: #ffffdd; list-style-type: none; list-style-position: inside; margin: 0; padding: 2px 3px 2px;}

/* Margins */

div#theme-workspace div.layer div#left-margin,
div#theme-workspace div.layer div#right-margin{ border-width: 1px; border-style: none dashed; height: 100%; width: 180px;}
div#theme-workspace div.layer div#top-margin,
div#theme-workspace div.layer div#bottom-margin{ border-width: 1px; border-style: dashed none; height: 2px; width: 100%;}
div#theme-workspace div.layer div#left-margin{ border-color: #fff #0000ff #fff #ff0000;}
div#theme-workspace div.layer div#right-margin{ border-color: #fff #ff0000 #fff #0000ff;}
div#theme-workspace div.layer div#top-margin{ border-color: #ff0000 #fff #0000ff #fff;}
div#theme-workspace div.layer div#bottom-margin{ border-color: #0000ff #fff #ff0000 #fff;}


