@CHARSET "UTF-8";

/* Global */
body{ margin: 0;}
div.table-wrapper{ overflow: auto; width: 100%;}
div.block{ padding-bottom: 20px;}
body form#user-login-form { text-align: left;}

/* Nav */
div#logo{ float: left;}
div#search{ position: absolute; top: 0; right: 0px;}
div#navigation{ float: left;}
div#navigation ul{ clear: both;}
div#navigation ul li{ float: left; padding-right: 10px;}
div#navigation ul li div{ float: left;}
div#navigation ul li a{ padding: 0 10px;}

/* Sidebars */
div.sidebar div.item-list ul{ margin: 0px; padding: 0px;}
div.sidebar div.item-list ul li{ list-style-type: none; list-style-image: none; list-style-position: outside; margin: 0px;}

/* Messages */
div.messages{ border: 1px solid #cccccc; padding: 10px; margin-bottom: 18px;}
div.messages ul{ margin: 0px 0px 0px 0px; padding: 0px;}
div.messages ul li{ list-style-type: none; margin-bottom: 5px;}

/* Fieldsets */
fieldset legend{ padding: 0px 5px;}
fieldset.collapsible legend{ padding-left: 0px;}
fieldset div.fieldset-wrapper{ padding: 0px 0px 5px;}

/* Tabs */
ul.tabs{ clear: both; display: inline-block;}
ul.tabs:after{ content: ""; clear: both; display: block;}
ul.tabs{ display: block;}
div.tabs ul.primary{ border-bottom: 1px solid #BBBBBB; line-height: 15px; white-space: normal;}
div.tabs ul.primary li { border-bottom: 1px solid #BBBBBB; display: block; float: left; margin: 5px 0 -1px 0;}
div.tabs ul.primary li a{ border-style: solid; margin: 0 4px -1px; padding: 0 5px;}
div.tabs ul.secondary{ clear: both;}

/* Views */
div.view div.views-admin-links{ width: auto;}

/* Nodes */
div.node{ padding-bottom: 20px;}
