@CHARSET "UTF-8";

div.resizeable{
  position: relative;
}

div.resizeable div.handle{
  height: 9px;
  position: absolute;
  width: 9px;
}

div.resizeable div.top-left{ background: url('images/icons/size/top-left.png') no-repeat; cursor: nw-resize; left: -9px; top: -9px;}
div.resizeable div.top{ background: url('images/icons/size/top.png') no-repeat; cursor: n-resize; left: 50%; margin-left: -5px; top: -9px;}
div.resizeable div.top-right{ background: url('images/icons/size/top-right.png') no-repeat; cursor: ne-resize; right: -9px; top: -9px;}
div.resizeable div.left{ background: url('images/icons/size/left.png') no-repeat; cursor: w-resize; left: -9px; margin-top: -5px; top: 50%;}
div.resizeable div.right{ background: url('images/icons/size/right.png') no-repeat; cursor: e-resize; margin-top: -5px; right: -9px; top: 50%;}
div.resizeable div.bottom-left{ background: url('images/icons/size/bottom-left.png') no-repeat; cursor: sw-resize; left: -9px; bottom: -9px;}
div.resizeable div.bottom{ background: url('images/icons/size/bottom.png') no-repeat; cursor: s-resize; left: 50%; margin-left: -5px; bottom: -9px;}
div.resizeable div.bottom-right{ background: url('images/icons/size/bottom-right.png') no-repeat; cursor: se-resize; right: -9px; bottom: -9px;}