@CHARSET "UTF-8";

inp ut.slider{ display: none;}
div.slider{ border: 1px inset; display: inline-block; height: 15px; position: relative;}
div.slider div.moveable{ border: 1px outset; display: block; width: 10px;}
