@CHARSET "UTF-8";

hr{ height: 1px !important;}
div.inline label{ float: left; padding: 5px 5px;}
div.hidden-field{ display: none;}

div.inline-fields div.form-item{ float: left; width: 30%;}
div.inline-fields input.form-text{ width: 90%;}

div#content-column div#theme-workspace div.clear{ text-align: left;}
div#content-column div#theme-workspace div.clear div.form-item{ padding-left: 90px;}

div#content-column fieldset#presets select{ margin: 0;}
div#content-column fieldset#presets div.form-item{ float: left;}
div#content-column fieldset#presets div.buttons{ clear: both;}

div#layout-fieldset{ text-align: center;}
div#layout-toolbar{ font-size: 9px; margin: 8px auto 0; text-align: center; width: 320px;}
div#layout-toolbar div.form-item{ display: inline;}
div#layout-toolbar div.both{ clear: both; text-align: right;}
div#layout-toolbar div.both div.form-item{ display: block; width: 175px;}
div#layout-toolbar div.both div.form-item input{ border-top: none;}
div#layout-toolbar label{ display: inline;}
div#layout-toolbar input{ border: 1px solid #FF6600; text-align: right; width: 30px;}
div#layout-toolbar #edit-header-height,
div#layout-toolbar #edit-footer-height{ border-left: none;}
div#layout-toolbar #edit-left-sidebar-width,
div#layout-toolbar #edit-right-sidebar-width{ border-top: none;}
div#layout-toolbar div.left,
div#layout-toolbar div.right{ width: 160px;}
div#layout-toolbar div.left{ float: left; text-align: right;}
div#layout-toolbar div.right{ float: right; text-align: left;}
div#layout-toolbar div.center{ width: 320px;}
div#layout-toolbar div.center div.left,
div#layout-toolbar div.center div.right{ margin-top: 23px; width: 125px;}
div#layout-toolbar div.page-placeholder{ background: url('images/page-layout.png') no-repeat; float: left; height: 85px; width: 70px;}

fieldset#color-fieldset br{ clear: both;}
fieldset#color-fieldset label{ font-size: 80%;}
fieldset#color-fieldset div.picker{ position: relative; top: -220px;}
fieldset#color-fieldset div.picker div.farbtastic{ position: absolute; display: none; z-index: 1000;}
fieldset#color-fieldset div.form-item{ float: left; width: 25%;}
fieldset#color-fieldset div.form-item div.form-item{ display: inline; float: none; width: auto;}
fieldset#color-fieldset div.form-item div.form-item label{ width: 100%;}
fieldset#color-fieldset .form-checkbox{ float: left;}
fieldset#color-fieldset label,
fieldset#color-fieldset input{ width: 50%;}